html, body {
  overflow: hidden; 
  height: 100%;
}

html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  font-family: Helvetica, sans-serif;
  background-color: white;
  margin:0; 
  padding:0;
}

.tooltip {
  opacity: 0.9;
  font-size:16px;
  width: 355px;
  height: 110px;
  background-color: white;
  position: absolute;
  text-align: center;
}

.inner-div {
  width: 95%;
  height: 90%;
  margin: 0 auto;
  padding-top: 0.5em;
}

.prediction-table {
  margin: 0 auto;
}

.tail {
  margin-top: 0px;
  margin-left: 47%;
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: white transparent transparent transparent;
}

.big-row {
  font-size: 1em;
  font-weight: bold;
}

.small-row {
  font-size: 0.75em;
}

.main-prediction {
  color: white;
  width: 50px;
}

.riding-name { 
  font-weight: bold;
  text-align: center;
  height: 2em;
}

.label {
  color: black;
  text-align: right;
}

.col { 
  text-align: center; 
}

svg {
  background: white;
}

.overlay {
  position: absolute;
  opacity: 0;
  fill: none;
  pointer-events: all;
  z-index: 10;
}

.riding {
  stroke: #fff;
  stroke-width: .5px;
}

.select-style {
  position: absolute;
  z-index: 1000;
  /*padding: 0;*/
  /*margin: 0;*/
  /*border: 1px solid #ccc;*/
  overflow: hidden;
  background-color: #fff;
  opacity: 0.9;
  text-align: center;
  background: lightgrey url("angle-down_000000_14.png") no-repeat 98% 50%;
}

.drpdwn {
  width: 240px;
  height: 27px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;

  /*text-align: center;*/
}

.select-style select {
  text-align: center;
  font-weight: bold;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select-style select:focus {
  outline: none;
}

.footer {
  height: 27px;
  position: fixed;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  bottom: 0px;
  background-color: white;
  opacity: 0.9;
  z-index: 999;
  font-size: 14px;
  text-align: center;
}

.footer .text {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

.footer .button {
  /*font-weight: bold;*/
  text-align: center;
  background-color: black;
  border: none;
  width: 100%;
  height: 27px;
  margin-bottom: 10px;
  cursor: default;
  color: white;
}

.footer .button div {
  padding-top: 6px;
}

.footer i {
  padding-left: 5px;
  font-size: 14px;
  /*font-weight: bold;*/
}
