body {
  font-family: Helvetica, sans-serif;
  font-size:16px;
  background-color: black;
}

.tooltip {
  opacity: 0.9;
  width: 355px;
  height: 110px;
  background-color: white;
  position: absolute;
  text-align: center;
}

.inner-div {
  width: 95%;
  height: 90%;
  margin: 0 auto;
  padding-top: 0.5em;
}

.prediction-table {
  margin: 0 auto;
}

.tail {
    margin-top: 0px;
    margin-left: 47%;
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: white transparent transparent transparent;
}

.big-row {
  font-size: 16px;
  font-weight: bold;
}

.small-row {
  font-size: 12px;
}

.main-prediction {
  color: white;
  width: 50px;
}

.riding-name { 
  font-weight: bold;
  text-align: center;
  height: 2em;
}

.label {color: black; text-align: right;}

.col { text-align: center; }